site_name: SystemPY Documentation
site_url: https://systempy.readthedocs.io
site_description: SystemPY -- python application component initialization system
site_author: Anton Kavalevich (kai3341)

repo_url: https://github.com/kai3341/systemPY

nav:
  - Home: index.md
  - Getting Started: getting-started.md
  - Examples:
      - Units:
          - Rodi: examples/unit/rodi.md
          - SQLAlchemy: examples/unit/sqlalchemy.md
          - Redis / Valkey: examples/unit/redis.md
          - AIOLogger: examples/unit/aiologger.md
      - Targets:
          - Custom: examples/target/custom-target.md
          - From Scratch: examples/target/from-scratch.md
          - Custom TargetMeta: examples/target/custom-target-meta.md
      - Self hosted App:
          - Scripting: examples/self-hosted/scripting.md
          - Daemon: examples/self-hosted/daemon.md
          - REPL: examples/self-hosted/repl.md
          - ASGI Web App: examples/self-hosted/asgi-web-app.md
      - Secondary Application:
          - FastAPI / Starlette: examples/secondary/starlette.md
          - Celery: examples/secondary/celery.md
      - Primary Application:
          - No example yes: examples/primary/write-me.md
  - API Reference: api-reference.md
  - About:
      - Roadmap: about/roadmap.md
      - History: about/history.md
      - Marginal Notes:
          - REPL Pain: about/marginal_notes/repl_pain.md

theme:
  locale: en
  name: material
  custom_dir: docs/mkdocs_overrides

  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-2
        name: Switch to light mode

  features:
    - navigation.instant
    # - navigation.tracking
    - navigation.sections
    # - navigation.indexes
    - navigation.expand

  favicon: images/favicon.png

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tilde
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true

extra_css:
  - mkdocs_overrides/styles.css
