name: release

on:
  release:
    types:
      - published
  workflow_dispatch:

jobs:
  make-binaries:
    name: test & build
    environment: pypi
    strategy:
      matrix:
        os: [ubuntu-22.04, ubuntu-latest, windows-latest, macos-latest]
        python: ["3.9", "3.10", "3.11", "3.12", "3.13"]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}

      - run: python --version

      - run: uv venv ${VIRTUAL_ENV}

      - run: uv sync

      - name: Run tests pre
        run: uv run manage.py test

      - name: Build the project with mypyc
        env:
          USE_MYPYC: 1
        run: uv build --wheel

      - name: Install built wheel
        run: pip install dist/*
        shell: bash

      - name: Remove systempy sources to use installed wheel
        run: rm -rf ./systempy
        shell: bash

      - name: Run tests post to check built wheel
        run: uv run manage.py test

      - uses: actions/upload-artifact@v4
        with:
          name: binary-wheel-${{ github.run_id }}-${{ matrix.os }}-${{ matrix.python }}
          path: dist/*
          compression-level: 0 # already compressed

  pypi-publish:
    name: upload release to PyPI
    environment: pypi
    needs: make-binaries
    permissions:
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - name: "Set up Python"
        uses: actions/setup-python@v5
        with:
          python-version-file: "pyproject.toml"

      - name: Build the project without mypyc
        run: uv build --sdist --wheel

      - uses: actions/download-artifact@v4
        with:
          pattern: binary-wheel-${{ github.run_id }}-*
          path: dist
          merge-multiple: true

      - name: mint API token
        id: mint-token
        run: |
          # retrieve the ambient OIDC token
          resp=$(curl -H "Authorization: bearer $ACTIONS_ID_TOKEN_REQUEST_TOKEN" \
            "$ACTIONS_ID_TOKEN_REQUEST_URL&audience=pypi")
          oidc_token=$(jq -r '.value' <<< "${resp}")

          # exchange the OIDC token for an API token
          resp=$(curl -X POST https://pypi.org/_/oidc/mint-token -d "{\"token\": \"${oidc_token}\"}")
          api_token=$(jq -r '.token' <<< "${resp}")

          # mask the newly minted API token, so that we don't accidentally leak it
          echo "::add-mask::${api_token}"

          # see the next step in the workflow for an example of using this step output
          echo "api-token=${api_token}" >> "${GITHUB_OUTPUT}"

      - name: Publish the project
        run: uv publish --token ${{ steps.mint-token.outputs.api-token }}
